/* ensure all pages have Bootstrap CSS */

.body {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.md-container {
  max-width: 800px;
  padding-top: 2rem;
  color: black;
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}
.sub-header {
  padding-top: 5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}

.form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.smaller-container {
  max-width: 800px;
  padding-top: 2rem;
  color: #lack;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  flex-shrink: 0;
  /* height: 80px;
  margin-top: 20px;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center; */
  border-top: 2px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
.btn-img {
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.btn-green {
  color: #fff;
  background-color: #7abd00 !important;
}
.btn-green2 {
  color: #fff;
  background-color: #7abd00 !important;
  margin-left: 3rem;
}
