/* ensure all pages have Bootstrap CSS */

.body {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.md-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5rem;
}
.sub-header {
  padding-top: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}
.sub-sub-header {
  padding-top: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 1rem;
}
.form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.smaller-container {
  max-width: 800px;
  padding-top: 2rem;
  color: white;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  flex-shrink: 0;
  border-top: 2px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
.btn-img {
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.btn-green {
  color: #fff;
  background-color: #7abd00 !important;
}
.btn-green2 {
  color: #fff;
  background-color: #7abd00 !important;
  margin-left: 3rem;
}
.color-nav {
  background-color: #282828;
}

.text {
  color: white;
}
